<h2 *ngIf="item" mat-dialog-title>WhatsappGrupo</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

	<mat-dialog-content>

		<mat-form-field class="example-full-width">
			<input matInput #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" autocomplete="off" />
		</mat-form-field>


		<mat-form-field class="example-full-width">
			<input matInput #link [(ngModel)]="item.link" name="link" placeholder="Link" autocomplete="off" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<textarea rows="4" matInput #descricao [(ngModel)]="item.descricao" name="descricao"
				placeholder="Descrição">
			</textarea>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #quantidadePessoa [(ngModel)]="item.quantidadePessoa" name="quantidadePessoa" placeholder="Qtde Pessoas" autocomplete="off" />
		</mat-form-field>

		<mat-form-field class="example-full-width" *ngIf="listaCheckout">
			<mat-select placeholder="Chekcout" #checkoutProdutoProprioId [(ngModel)]="item.checkoutProdutoProprioId" name="checkoutProdutoProprioId">
				<mat-option *ngFor="let item of listaCheckout" [value]="item.id">
					{{ item.nome}} 
				</mat-option>
			</mat-select>
		</mat-form-field>

	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button>Salvar</button>
		<button mat-raised-button mat-dialog-close>Fechar</button>
	</mat-dialog-actions>

</form>