<h2 *ngIf="item" mat-dialog-title>Campanha Ads</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" />
    </mat-form-field>

    <mat-form-field class="example-half-width" *ngIf="listaModelo">
      <mat-select placeholder="Modelo Campanha"  #modeloCampanhaAdsTesteId [(ngModel)]="item.modeloCampanhaAdsTesteId" name="modeloCampanhaAdsTesteId">
        <mat-option *ngFor="let modelo of listaModelo" [value]="modelo.id">
          {{modelo.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!item.codigoAds" class="example-half-width">
      <mat-select #prontaParaTeste [(ngModel)]="item.prontaParaTeste" name="prontaParaTeste" placeholder="Pronta">
        <mat-option value="0">Não</mat-option>
        <mat-option value="1">Sim</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="item.codigoAds" class="example-half-width">
      <mat-select #ativa [(ngModel)]="item.ativa" name="ativa" placeholder="Ativa">
        <mat-option value='0'>Não</mat-option>
        <mat-option value='1'>Sim</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field class="example-full-width" *ngIf="listaConta">
      <mat-select placeholder="Conta Google"  #contaGoogleId [(ngModel)]="item.contaGoogleId" name="contaGoogleId">
        <mat-option *ngFor="let conta of listaConta" [value]="conta.id">
          {{ conta.gmail}} ({{conta.nome}})
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input matInput #cpcMax [(ngModel)]="item.cpcMax" name="cpcMax" placeholder="Cpc Max" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #cpaMax [(ngModel)]="item.cpaMax" name="cpaMax" placeholder="Cpa Max" />
    </mat-form-field>

  </mat-dialog-content>
  <p>O valor de item.ativa é: {{ item.ativa }}</p>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>

