<h2 *ngIf="item" mat-dialog-title>PromptItem</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

	<mat-dialog-content>

		<mat-form-field class="example-full-width">
			<input matInput #titulo [(ngModel)]="item.titulo" name="titulo" placeholder="Título" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<textarea rows="6" matInput #prompt [(ngModel)]="item.prompt" name="prompt" placeholder="Prompt">
		</textarea>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #codigoReplace [(ngModel)]="item.codigoReplace" name="codigoReplace" placeholder="Código Replace" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #geraConteudo [(ngModel)]="item.geraConteudo" name="geraConteudo" placeholder="Gera Conteúdo" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #ordenacao [(ngModel)]="item.ordenacao" name="ordenacao" placeholder="Ordenação" />
		</mat-form-field>

	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button>Salvar</button>
		<button mat-raised-button mat-dialog-close>Fechar</button>
	</mat-dialog-actions>

</form>