<h2 *ngIf="item" mat-dialog-title>CriativoAnuncio</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

	<mat-dialog-content>

		<mat-form-field class="example-full-width">
			<input matInput #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #quadradaLinha1 [(ngModel)]="item.quadradaLinha1" name="quadradaLinha1" placeholder="Texto Copy - Quadrada Linha1" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #quadradaLinha2 [(ngModel)]="item.quadradaLinha2" name="quadradaLinha2" placeholder="Texto Copy - Quadrada Linha2" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #deitadaLinha1 [(ngModel)]="item.deitadaLinha1" name="deitadaLinha1" placeholder="Texto Copy - Deitada Linha1" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #deitadaLinha2 [(ngModel)]="item.deitadaLinha2" name="deitadaLinha2" placeholder="Texto Copy - Deitada Linha2" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #deitadaLinha3 [(ngModel)]="item.deitadaLinha3" name="deitadaLinha3" placeholder="Texto Copy - Deitada Linha3" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #logoGrupoWhatsapp [(ngModel)]="item.logoGrupoWhatsapp" name="logoGrupoWhatsapp" placeholder="Arquivo Logo Zap" />
		</mat-form-field>

		<mat-form-field class="example-full-width" *ngIf="listaFonte">
			<mat-select placeholder="Fonte" #fonteLocalId [(ngModel)]="item.fonteLocalId" name="fonteLocalId">
				<mat-option *ngFor="let item of listaFonte" [value]="item.id">
					{{ item.nome}} 
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #fontSize [(ngModel)]="item.fontSize" name="fontSize" placeholder="Font Size" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #fontColor [(ngModel)]="item.fontColor" name="fontColor" placeholder="Font Color" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #fundoColor [(ngModel)]="item.fundoColor" name="fundoColor" placeholder="Fundo Color" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<mat-select #gravity [(ngModel)]="item.gravity" name="gravity" placeholder="Gravity">
				<mat-option value='north'>north</mat-option>
				<mat-option value='south'>south</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="example-full-width" *ngIf="listaImagem">
			<mat-select placeholder="Imagem Produto" #imagemPaginaVendaId [(ngModel)]="item.imagemPaginaVendaId" name="imagemPaginaVendaId">
				<mat-option *ngFor="let item of listaImagem" [value]="item.id">
					{{ item.urlFinal}} 
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #geraImagem [(ngModel)]="item.geraImagem" name="geraImagem" placeholder="geraImagem" />
		</mat-form-field>

	

		<mat-form-field class="example-full-width">
			<input matInput #annotate [(ngModel)]="item.annotate" name="annotate" placeholder="annotate" autocomplete="off"/>
		</mat-form-field>

	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button>Salvar</button>
		<button mat-raised-button mat-dialog-close>Fechar</button>
	</mat-dialog-actions>

</form>
