<div class="dgc-painel" *ngIf="principal">
  <div class="dgc-painel-header">
      <span>Campanhas Teste - {{principal.nome}}</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div class="dgc-painel-principal">
      <div class="dgc-card" *ngFor="let item of principal.campanhaAdsTestes">
        <div class="dgc-card-header">
          <span class="dgc-link" routerLink="/campanhaAdsTesteDetalhe/{{item.id}}">{{item.nome}}</span>
        </div>
        <div class="dgc-card-detalhe">
          Orçamento: {{ item.modeloCampanhaAdsTeste.orcamentoDiario | currency : 'BRL'}} * {{item.modeloCampanhaAdsTeste.qtdeDia}}
          = {{ (item.modeloCampanhaAdsTeste.orcamentoDiario*item.modeloCampanhaAdsTeste.qtdeDia) | currency : 'BRL' }}
        </div>
        <div class="dgc-card-detalhe">
          Código Ads: {{item.codigoAds}}
        </div>
        <div class="dgc-card-detalhe">
          Pronta: {{item.prontaParaTeste}}
        </div>
        <div class="dgc-card-detalhe">
          Ativa: {{item.ativa}}
        </div>
        <div class="dgc-card-header">
          Resultados
        </div>
        <div class="dgc-card-detalhe">
          Custo: {{item.custoTotal | currency : 'BRL'}}
        </div>
        <div class="dgc-card-detalhe">
          Receita: {{item.receitaTotal}}
        </div>
        <div class="dgc-card-detalhe">
          Impressões: {{item.qtdeImpressao}} ({{(item.custoTotal / item.qtdeImpressao) | currency : 'BRL'}})
        </div>
        <div class="dgc-card-detalhe">
          Cliques: {{item.qtdeClique}} ({{(item.custoTotal / item.qtdeClique) | currency : 'BRL'}})
        </div>
        <div class="dgc-card-comandos">
          <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
        </div>
      </div>
  </div>
</div>

