<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Idéias Palavra-Chave (mais pesquisadas)</span>
  </div>
  <div>
    <span>Inserção em {{listaBase[0].dataInsercao | date : 'dd-MM-yyyy'}}</span>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
      <div class="dgc-card" *ngFor="let item of listaBase">
          <div class="dgc-card-header">
            <span>Palavra: {{item.texto}}</span>
          </div>
          <div class="dgc-card-detalhe">
            Produto: 
            <a href="https://app.hotmart.com/market/details?producerUcode={{item.produtorCodigoHotmart}}&productUcode={{item.produtoCodigoU}}">{{item.nome}}</a>
            ( # {{item.hotmartId}})
          </div>
          <div class="dgc-card-detalhe">
            <span>Pesquisas mensais: {{item.mediaPesquisa}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Temperatura: {{item.temperatura}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Concorrência: {{item.concorrencia}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>CPC: {{item.cpcMaximoTopPage}} a {{item.cpcMinimoTopPage}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Valor Afiliado: {{item.afiliacaoValor}}</span>
          </div>
      </div>
  </div>
</div>
