<div class="dgc-painel">
	<div class="dgc-painel-header">
		<span>GeraImagemConteudoProduto</span>
  		<span *ngIf="listaBase" class="dgc-direita">{{listaBase.length}}</span>
	</div>
	<div class="dgc-painel-principal" *ngIf="listaBase">
		<div class="dgc-card dgc-card-explicacao">
			<div class="dgc-card-header">
				Processo: GeraImagemConteudoProduto.jar
			</div>
		</div>
		<div class="dgc-card dgc-card-item" *ngFor="let item of listaBase">
 			<div *ngIf="item.entregavelProduto" class="dgc-card-header">
 				<span>Produto: {{item.entregavelProduto.produtoProprio.nome}}</span>
 			</div>
			 <div *ngIf="item.entregavelProduto" class="dgc-card-detalhe">
				<span>Entregável: {{item.entregavelProduto.nome}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Conteúdo: {{item.nome}} ({{item.ordenacao}})</span>
			</div>
 			<div class="dgc-card-comandos">
 				<button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
 			</div>
 		</div>
  	</div>
</div>
