<h2 *ngIf="item" mat-dialog-title>PaginaWhatsappExemplo</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

	<mat-dialog-content>

		<mat-form-field class="example-full-width">
			<input matInput #url [(ngModel)]="item.url" name="url" placeholder="Url" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #urlImagem [(ngModel)]="item.urlImagem" name="urlImagem" placeholder="Url Imagem" />
		</mat-form-field>


	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button>Salvar</button>
		<button mat-raised-button mat-dialog-close>Fechar</button>
	</mat-dialog-actions>

</form>