<div class="dgc-painel" *ngIf="principal">
	<div class="dgc-painel-header" *ngIf="principal">
		<span>{{principal.nome}}</span>
	</div>

	<div class="dgc-painel-principal">
		<div class="dgc-card" *ngFor="let anuncio of principal.metaAdsAnuncios">
			<div class="dgc-card-header">
				<span>{{anuncio.nome}}</span>
				<button class="btn btn-sm" style="background-color: white; border-color: white;"
					(click)="editaAnuncio(conjunto,anuncio)">
					<i class="fas fa-edit text-primary"></i>
				</button>
				<button class="btn btn-sm" style="background-color: white; border-color: white;" (click)="excluiAnuncio(anuncio)">
					<i class="fas fa-trash-alt text-danger"></i>
				</button>
				<span class="dgc-direita">{{anuncio.idMeta}}</span>
			</div>
			<div class="dgc-card-detalhe">
				Título 1: {{ anuncio.titulo1 }}
			</div>
			<div class="dgc-card-detalhe" *ngIf="anuncio.paginaVendaAberta">
				<span>Página Venda: {{anuncio.paginaVendaAberta.nome}}</span>
			</div>
			<div class="dgc-card-detalhe" *ngIf="anuncio.criativoAnuncio">
				<img src="{{anuncio.criativoAnuncio.urlImagemEditada}}" width="300">
			</div>
			<div class="dgc-card-detalhe">
				custo: {{ anuncio.custo | currency : 'BRL'}}<br>
				impressão: {{ anuncio.impressao }}<br>
				cliques: {{ anuncio.clique }}<br>
				ctr: {{ anuncio.ctr }}<br>
				cpc : {{ anuncio.cpc | currency : 'BRL'}}<br>
				status: {{anuncio.status}}<br>
				qtde entrada grupo: {{ anuncio.quantidadeEntradaGrupo }}<br>
				valor entrada grupo: {{ anuncio.custoEntradaGrupo | currency : 'BRL'}}<br>
				percentual entrada grupo: {{anuncio.percentualEntradaGrupo | number : '1.2-2'}}%<br>
				atualização: {{anuncio.dataHora | date: 'dd/MM/yyyy HH:mm:ss' : 'UTC' }}
			</div>
			<div class="dgc-card-detalhe" *ngIf="anuncio.paginaWhatsappGrupo && anuncio.paginaWhatsappGrupo.urlImagem">
				<div>Grupo</div>
				<img src="{{anuncio.paginaWhatsappGrupo.urlImagem}}" width="300">
				<div>{{anuncio.paginaWhatsappGrupo.url}}</div>
			</div>
		</div>
	</div>
	
	<div class="dgc-card-comandos">
		<button class="btn-primary btn-sm btn" (click)="editaAnuncio(conjunto)">Novo Anuncio</button>
	</div>

</div>
