<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Afiliados Hotmart</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
    <div class="dgc-card" *ngFor="let item of listaBase">
        <div class="dgc-card-header">
          <span class="dgc-link" routerLink="/produtoAfiliadoHotmartDetalhe/{{item.hotmartId}}">{{item.nome}}</span>
          <span class="dgc-direita"># {{item.hotmartId}}</span>
        </div>
        <div class="dgc-card-detalhe">
          <span>Final: {{item.urlFinal}}</span>
        </div>
        <div class="dgc-card-detalhe">
          <span>Tracking: {{item.urlTracking}}</span>
        </div>
        <div class="dgc-card-detalhe">
          <span>Campanha de Teste: {{item.geraTesteCampanha}}</span>
        </div>
        <div class="dgc-card-detalhe">
          <span>Sigla: {{item.sigla}}</span>
        </div>
        <div class="dgc-card-detalhe" *ngIf="item.contaGoogle!=null">
          <span>Conta Google: {{item.contaGoogle.gmail}} ({{item.contaGoogle.nome}})</span>
        </div>
        <div class="dgc-card-detalhe" *ngIf="item.visitaProdutoHotmarts != null && item.visitaProdutoHotmarts.length > 0">
          <span>Comissão: {{item.visitaProdutoHotmarts[0].afiliacaoValor | currency : 'BRL'}}</span>
        </div>
        <div class="dgc-card-detalhe" *ngIf="item.visitaProdutoHotmarts != null && item.visitaProdutoHotmarts.length > 0" >
          <div *ngFor="let metrica of item.visitaProdutoHotmarts[0].produtoAfiliadoMetricas">
            {{metrica.palavra}} (cpc: {{metrica.cpcMin | currency: 'BRL'}} até {{metrica.cpcMax | currency: 'BRL' }})
          </div>
        </div>
        <div class="dgc-card-comandos">
            <button class="btn-primary btn-sm btn"  [routerLink]="['/anuncioAds' , item.hotmartId]">Anúncio Google ({{item.anuncioAdsCount}})</button>
            <button class="btn-primary btn-sm btn"  [routerLink]="['/campanhaAdsTeste' , item.hotmartId]">Campanha Teste Google ({{item.campanhaAdsTestesCount}})</button>
            <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
        </div>
    </div>
</div>
</div>