<h2 *ngIf="item" mat-dialog-title>Pixel Google</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput #identificador [(ngModel)]="item.identificador" name="identificador" placeholder="Identificador" autocomplete="off"/>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #codigo1 [(ngModel)]="item.codigo1" name="codigo1" placeholder="Código 1" autocomplete="off"/>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #codigo2 [(ngModel)]="item.codigo2" name="codigo2" placeholder="Código 2" autocomplete="off"/>
    </mat-form-field>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>
