<h2 *ngIf="item" mat-dialog-title>ImagemConjunto</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

	<mat-dialog-content>

		<mat-form-field class="example-full-width">
			<input matInput #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #quadradaTexto1 [(ngModel)]="item.quadradaTexto1" name="quadradaTexto1" placeholder="Texto Copy - Quadrada Linha1" autocomplete="off"/>
			<mat-hint align="end">{{ (quadradaTexto1.value?quadradaTexto1.value.length:0) }}</mat-hint>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #quadradaTexto2 [(ngModel)]="item.quadradaTexto2" name="quadradaTexto2" placeholder="Texto Copy - Quadrada Linha2" autocomplete="off"/>
			<mat-hint align="end">{{ (quadradaTexto2.value?quadradaTexto2.value.length:0) }}</mat-hint>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #deitadaTexto1 [(ngModel)]="item.deitadaTexto1" name="deitadaTexto1" placeholder="Texto Copy - Deitada Linha1" autocomplete="off"/>
			<mat-hint align="end">{{ (deitadaTexto1.value?deitadaTexto1.value.length:0) }}</mat-hint>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #deitadaTexto2 [(ngModel)]="item.deitadaTexto2" name="deitadaTexto2" placeholder="Texto Copy - Deitada Linha2" autocomplete="off"/>
			<mat-hint align="end">{{ (deitadaTexto2.value?deitadaTexto2.value.length:0) }}</mat-hint>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #deitadaTexto3 [(ngModel)]="item.deitadaTexto3" name="deitadaTexto3" placeholder="Texto Copy - Deitada Linha3" autocomplete="off"/>
			<mat-hint align="end">{{ (deitadaTexto3.value?deitadaTexto3.value.length:0) }}</mat-hint>
		</mat-form-field>
		
		<mat-form-field class="example-full-width" *ngIf="listaFonte">
			<mat-select placeholder="Fonte" #fonteLocalId [(ngModel)]="item.fonteLocalId" name="fonteLocalId">
				<mat-option *ngFor="let item of listaFonte" [value]="item.id">
					{{ item.nome}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="example-full-width" *ngIf="listaImagem">
			<mat-select placeholder="Imagem Produto" #imagemPaginaVendaId [(ngModel)]="item.imagemPaginaVendaId"
				name="imagemPaginaVendaId">
				<mat-option *ngFor="let item of listaImagem" [value]="item.id">
					{{ item.urlFinal}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #fontColor [(ngModel)]="item.fontColor" name="fontColor" placeholder="Font Color"
				autocomplete="off" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #fundoColor [(ngModel)]="item.fundoColor" name="fundoColor" placeholder="Fundo Color"
				autocomplete="off" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #geraDeImagemVenda [(ngModel)]="item.geraDeImagemVenda" name="geraDeImagemVenda"
				placeholder="Gera de Imagem Venda" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #logoGrupoWhatsapp [(ngModel)]="item.logoGrupoWhatsapp" name="logoGrupoWhatsapp"
				placeholder="Diretório de Logo Grupo Whatsapp" />
		</mat-form-field>

	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button>Salvar</button>
		<button mat-raised-button mat-dialog-close>Fechar</button>
	</mat-dialog-actions>

</form>