<div class="sidebar-wrapper">
  <div class="logo">
    <a routerLink="/home" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      <span routerLink="/home">Marketing Digital</span>
    </a>
  </div>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/campanhaAdsMetricaIntradayListSimples">
        <i class="fa fa-search"></i>
        <p>Intraday</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/acessos">
        <i class="fa fa-search"></i>
        <p>Acessos</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/checkout">
        <i class="fa fa-search"></i>
        <p>Checkout</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/metricaCampanha">
        <i class="fa fa-search"></i>
        <p>Métricas de Campanhas</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/plataforma">
        <i class="fa fa-search"></i>
        <p>Plataformas</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/tokenAcesso">
        <i class="fa fa-search"></i>
        <p>Tokens de Acesso</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtoHotmart">
        <i class="fa fa-search"></i>
        <p>Produto Hotmart</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/ideiaPalavraChave">
        <i class="fa fa-search"></i>
        <p>Idéia PalavraChave</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/melhoresCpc">
        <i class="fa fa-search"></i>
        <p>(usar essse) Melhores Cpc</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/melhoresTop">
        <i class="fa fa-search"></i>
        <p>Melhores Top</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/estiloFanart">
        <i class="fa fa-search"></i>
        <p>Lista Estilo Fanart</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/crescimentoTemperatura">
        <i class="fa fa-search"></i>
        <p>Lista Crescimento Temperatura</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/listaAltaMargemAltaTemperatura">
        <i class="fa fa-search"></i>
        <p>Margem e Temperatura (40/60)</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/listaSuperMargem">
        <i class="fa fa-search"></i>
        <p>Super Margem</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtosTopVendas">
        <i class="fa fa-search"></i>
        <p>Top 50 Vendas</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/melhoresTopPesquisa">
        <i class="fa fa-search"></i>
        <p>Melhores Top Pesquisa</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtoAfiliadoHotmart">
        <i class="fa fa-search"></i>
        <p>Afiliados Hotmart</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/afiliadoMedio">
        <i class="fa fa-search"></i>
        <p>Afiliados Medio</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtoAfiliadoTrabalho">
        <i class="fa fa-search"></i>
        <p>Work</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/workProduto/0">
        <i class="fa fa-search"></i>
        <p>Work Passo a Passo</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/resumoVisitaHotmart">
        <i class="fa fa-search"></i>
        <p>Resumo Visita Hotmart</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/contaGoogle">
        <i class="fa fa-search"></i>
        <p>Conta Google</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/pixelGoogle">
        <i class="fa fa-search"></i>
        <p>Pixel Google</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/modeloCampanhaAdsTeste">
        <i class="fa fa-search"></i>
        <p>Modelo Campanha Ads</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/campanhaAdsTesteAtivaMetrica">
        <i class="fa fa-search"></i>
        <p>Campanha Ativa</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/pendenteEstrutura">
        <i class="fa fa-search"></i>
        <p>Pendente Estrutura</p>
      </a>
    </li>
  </ul>


  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/experimentoModeloList">
        <i class="fa fa-search"></i>
        <p>Experimento Modelo</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/campanhaAdsMetricaIntradayCtrList">
        <i class="fa fa-search"></i>
        <p>Campanhas Melhores Ctr Intraday</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/modeloPaginaVenda">
        <i class="fa fa-search"></i>
        <p>Modelos de Página de Venda</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/elmentoModeloPaginaVenda">
        <i class="fa fa-search"></i>
        <p>Elementos para Modelos de Página de Venda</p>
      </a>
    </li>
  </ul>

  <div>
    <span>Busca do Milhão</span>
  </div>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/publicoAlvoAdsPalavraList">
        <i class="fa fa-search"></i>
        <p>Publico Alvo Ads Palavra</p>
      </a>
    </li>
  </ul>



 <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtoProprioList">
        <i class="fa fa-search"></i>
        <p>Produto Próprio</p>
      </a>
    </li>
  </ul> 

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/estruturaPaginaVendaAbertaList">
        <i class="fa fa-search"></i>
        <p>Estrutura Página</p>
      </a>
    </li>
  </ul> 

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/modeloPaginaVendaVslList">
        <i class="fa fa-search"></i>
        <p>Modelo Página VSL</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/modeloPaginaVendaList">
        <i class="fa fa-search"></i>
        <p>Modelo Página Venda</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/contaFacebookList">
        <i class="fa fa-search"></i>
        <p>Contas Facebook</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/metaAdsCampanhaMetricaListSimples">
        <i class="fa fa-search"></i>
        <p>Campanhas Facebook</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/metaAdsAnuncioMetricaListSimples">
        <i class="fa fa-search"></i>
        <p>Anúncios Facebook</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/paginaWhatsappExemploList">
        <i class="fa fa-search"></i>
        <p>Página Whatsapp Exemplo</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/contaWhatsappList">
        <i class="fa fa-search"></i>
        <p>Contas Whatsapp</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/contaInstagramList">
        <i class="fa fa-search"></i>
        <p>Contas Instagram</p>
      </a>
    </li>
  </ul>

  <div>
    <span>Listas de Objetos Impactados</span>
  </div>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/entregavelProdutoListGeraImagemConteudo">
        <i class="fa fa-search"></i>
        <p>Entregáveis para gerar imagem local</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/conteudoProdutoKiwifyListGerarImagem">
        <i class="fa fa-search"></i>
        <p>Conteudos que vão gerar imagens</p>
      </a>
    </li>
  </ul>

</div>