<div class="sidebar-wrapper">
  <div class="logo">
    <a routerLink="/home" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      <span routerLink="/home">Marketing Digital</span>
    </a>
  </div>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/plataforma">
        <i class="fa fa-search"></i>
        <p>Plataformas</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/tokenAcesso">
        <i class="fa fa-search"></i>
        <p>Tokens de Acesso</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtoHotmart">
        <i class="fa fa-search"></i>
        <p>Produto Hotmart</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/ideiaPalavraChave">
        <i class="fa fa-search"></i>
        <p>Idéia PalavraChave</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/melhoresCpc">
        <i class="fa fa-search"></i>
        <p>(usar essse) Melhores Cpc</p>
      </a>
    </li>
  </ul>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/melhoresTop">
        <i class="fa fa-search"></i>
        <p>Melhores Top</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtosTopVendas">
        <i class="fa fa-search"></i>
        <p>Top 50 Vendas</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/melhoresTopPesquisa">
        <i class="fa fa-search"></i>
        <p>Melhores Top Pesquisa</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtoAfiliadoHotmart">
        <i class="fa fa-search"></i>
        <p>Afiliados Hotmart</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/produtoAfiliadoTrabalho">
        <i class="fa fa-search"></i>
        <p>Produtos de Trabalho Hotmart</p>
      </a>
    </li>
  </ul>


  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/resumoVisitaHotmart">
        <i class="fa fa-search"></i>
        <p>Resumot Visita Hotmart</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/contaGoogle">
        <i class="fa fa-search"></i>
        <p>Conta Google</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/pixelGoogle">
        <i class="fa fa-search"></i>
        <p>Pixel Google</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/modeloCampanhaAdsTeste">
        <i class="fa fa-search"></i>
        <p>Modelo Campanha Ads</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/campanhaAdsTesteAtivaMetrica">
        <i class="fa fa-search"></i>
        <p>Campanha Ativa</p>
      </a>
    </li>
  </ul>

</div>