<div class="dgc-painel" *ngIf="principal">
	<div class="dgc-painel-header" *ngIf="principal">
		<span>{{principal.ordenacao}} {{principal.nome}}</span>
		<div class="dgc-direita">
			<span class="dgc-link" routerLink="/conteudoProdutoOrdenado/{{principal.entregavelProdutoId}}/{{principal.ordenacao+1}}">Próximo</span>
		</div>
	</div>

	<div class="dgc-card">
		<pre>
		<ng-container *ngFor="let item of principal.itemConteudoProdutos"><ng-container *ngIf="item.ordenacao>0">
&lt;b&gt;{{ item.promptItem.titulo }}&lt;/b&gt;
&lt;p&gt;{{ ajustaComPre(item.texto) }}&lt;/p&gt;
&lt;br&gt;</ng-container></ng-container>
		</pre>
	</div>


	<div class="dgc-card" *ngFor="let item of principal.itemConteudoProdutos">
		<div class="dgc-card-header">
			<span>{{item.ordenacao}} - {{item.promptItem.titulo}}</span>
		</div>
		<div class="dgc-card-detalhe">
			<span [innerHTML]="ajustaTexto(item.texto)"></span>
		</div>
		<div class="dgc-card-comandos">
			<button class="btn-primary btn-sm btn" (click)="edita(item)">Edita</button>
		</div>
	</div>

</div>