<div class="dgc-painel" *ngIf="principal">
  <div class="dgc-painel-header" *ngIf="principal">
      <span>{{principal.nome}}</span>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-detalhe" *ngFor="let rel of principal.anuncioCampanhaAdsTestes">
      <span>Group Ad: {{principal.codigoAdsGrupoAnuncio}}</span>
    </div>
    <div class="dgc-card-detalhe" *ngFor="let rel of principal.anuncioCampanhaAdsTestes">
      <span>Conta: {{principal.contaGoogle.nome}} ( {{principal.contaGoogle.idAds}} ) </span>
    </div>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      Anúncios
    </div>
    <div class="dgc-card-detalhe" *ngFor="let rel of principal.anuncioCampanhaAdsTestes">
      <span>{{rel.anuncioAds.titulo1}} / {{rel.anuncioAds.titulo2}} / {{rel.anuncioAds.titulo3}}</span>
    </div>
    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn" (click)="editaAnuncio(principal)">Novo</button>
    </div>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      Palavras Chave
    </div>
    <div class="dgc-card-detalhe" *ngFor="let rel of principal.palavraChaveCampanhaAdsTestes">
      <span>
        {{rel.ideiaPalavraChave.texto}} - {{rel.ideiaPalavraChave.mediaPesquisa}} - cpc: {{rel.ideiaPalavraChave.cpcMinimoTopPage | currency : 'BRL'}} até {{rel.ideiaPalavraChave.cpcMaximoTopPage | currency : 'BRL'}} [{{rel.ideiaPalavraChave.concorrencia}}]
      </span>
    </div>
    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn" (click)="editaPalavraChave(principal)">Alterar Palavras</button>
    </div>
  </div>

</div>

