<div class="dgc-painel">
	<div class="dgc-painel-header">
		<span>Experimentos para descobrir um Modelo Escalável</span>
  		<button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
	</div>
	<div class="dgc-painel-principal" *ngIf="listaBase">
		<div class="dgc-card" *ngFor="let item of listaBase">
 			<div class="dgc-card-header">
 				<pre>{{item.descricao}}</pre>
 			</div>
 			<div class="dgc-card-comandos">
				<button class="btn-primary btn-sm btn"  [routerLink]="['/experimentoModeloDetalhe' , item.id]">Detalhe</button>
 				<button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
 			</div>
 		</div>
  	</div>
</div>
