<div class="dgc-painel">
	<div class="dgc-painel-header">
		<span>Produtos Margem maior 60% & Temperatura maior 30 ({{listaBase.length}})</span>
	</div>
	<div class="dgc-painel-principal" *ngIf="listaBase">
		<div class="dgc-card" *ngFor="let item of listaBase">
			<div class="dgc-card-header">
				<span *ngIf="(!item.produtoAfiliadoHotmart)">{{item.nome}}</span>
				<span *ngIf="(item.produtoAfiliadoHotmart)" class="dgc-link" routerLink="/produtoAfiliadoHotmartDetalhe/{{item.hotmartId}}">{{item.nome}}</span>
				<span *ngIf="(item.produtoAfiliadoHotmart)"> (afiliado) </span>
				<span *ngIf="(item.produtoAfiliadoHotmartPendente)"> (pendente) </span>
			</div>
			<div class="dgc-card-detlahe">
			   <span>Temp: {{item.temperatura}} ( {{item.deltaTemperatura}} )</span>
		    </div>
			<div class="dgc-card-detalhe">
				<span>Comissão: {{item.afiliacaoValor | currency : 'BRL'}} ( {{item.afiliacaoPercentual}} % )</span>
			 </div>
			 <div class="dgc-card-detalhe">
				<span>Nota: {{item.reviewRating | number : '1.2-2'}} ( {{item.totalAnswers}} )</span>
			 </div>
			 <div class="dgc-card-detalhe">
				<span>Data: {{item.dataInsercao | date: 'dd/MM/yyyy' }}</span>
			 </div>
			 <div class="dgc-card-detalhe">
				<span>{{item.categoria }}</span>
			 </div>
			 <div class="dgc-card-detalhe">
				<span>{{item.formato }}</span>
			</div>
			<div class="dgc-card-comandos">
				<button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
			</div>
		</div>
  	</div>
</div>