<div class="dgc-painel">
	<div class="dgc-painel-header">
		<span>Publico Alvo por Palavra-Chave</span>
  		<button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
	</div>
	<div class="dgc-painel-principal" *ngIf="listaBase">
		<div class="dgc-card dgc-card-3" *ngFor="let item of listaBase">
 			<div class="dgc-card-header">
 				<span class="dgc-link" routerLink="/publicoAlvoAdsPalavraDetalhe/{{item.id}}">{{item.nome}}</span>
 			</div>
 			<div class="dgc-card-comandos">
 				<button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
 			</div>
 		</div>
  	</div>
</div>
