<h2 *ngIf="item" mat-dialog-title>Modelo CampanhaAds Teste</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput #orcamentoDiario [(ngModel)]="item.orcamentoDiario" name="orcamentoDiario" placeholder="Orçamento Diário" autocomplete="off"/>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #qtdeDia [(ngModel)]="item.qtdeDia" name="qtdeDia" placeholder="Quantidade Dia" autocomplete="off"/>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select #diaInicial [(ngModel)]="item.diaInicial" name="diaInicial" placeholder="Dia Inicial">
        <mat-option value="1">Domingo</mat-option>
        <mat-option value="2">Segunda</mat-option>
        <mat-option value="3">Terça</mat-option>
        <mat-option value="4">Quarta</mat-option>
        <mat-option value="5">Quinte</mat-option>        
        <mat-option value="6">Sexta</mat-option>
        <mat-option value="7">Sábado</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>
