<div class="dgc-painel">
	<div class="dgc-painel-header">
		<span>CampanhaAdsMetrica</span>
  		<button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
	</div>
	<div class="dgc-painel-principal" *ngIf="listaBase">
		<div class="dgc-card" *ngFor="let item of listaBase">
 			<div class="dgc-card-header">
 				<span>cpc: {{item.cpcMedio | currency: 'BRL'}}</span>
				<span class="dgc-direita">{{item.conversao}}</span>
 			</div>
			<div class="dgc-card-detalhe">
				<span>cliques: {{item.clique}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Custo: {{item.custoCampanha | currency: 'BRL'}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>{{item.dataHora | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>{{item.rede}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>{{item.estrategia}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>{{item.status}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span *ngIf="item.contaGoogle">Conta: {{item.contaGoogle.nome}}</span>
			</div>
 		</div>
  	</div>
</div>
