<div class="dgc-painel" *ngIf="principal">
  <div class="dgc-painel-header" *ngIf="principal">
      <span>{{principal.nome}}</span>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      Visitas
    </div>
    <div class="dgc-card-detalhe" *ngFor="let item of principal.visitaProdutoHotmarts">
      {{item.dataInsercao | date : 'dd/MM/yyyy'}}
      Temperatura: {{item.temperatura}} Valor : {{item.afiliacaoValor | currency : 'BRL'}} ({{item.afiliacaoPercentual}}%)
    </div>
  </div>

    <div class="dgc-card">
    <div class="dgc-card-header">
      Palavras-Chave
    </div>
    <div class="dgc-card-detalhe" *ngFor="let item of principal.ideiaPalavraChaves">
      {{item.dataAcesso | date : 'dd/MM/yyyy'}} {{item.texto}} Volume Pesquisa: {{item.mediaPesquisa}} 
      Cpc: {{item.cpcMaximoTopPage | currency : 'BRL'}} {{item.cpcMinimoTopPage | currency : 'BRL'}}
    </div>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      <span>Anúncios</span>
      <button class="dgc-direita" (click)="editaAnuncio(principal)">novo</button>
    </div>
    <div class="dgc-card">
      <div class="dgc-card-detalhe">
        Titulo1
      </div>
      <div class="dgc-card-detalhe">
        Titulo2
      </div>
      <div class="dgc-card-detalhe">
        Titulo3
      </div>
      <div class="dgc-card-detalhe">
        Descrição 1
      </div>
      <div class="dgc-card-detalhe">
        Descrição 2
      </div>
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="editaAnuncio(item)">Editar</button>
      </div>
    </div>
   
  </div>

</div>

