<div class="dgc-painel">
	<div class="dgc-painel-header">
		<span>Página Venda Aberta</span>
  		<button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
	</div>
	<div class="dgc-painel-principal" *ngIf="listaBase">
		<div class="dgc-card" *ngFor="let item of listaBase">
 			<div class="dgc-card-header">
				<span class="dgc-link" routerLink="/paginaVendaAbertaDetalhe/{{item.id}}">{{item.nome}}</span>
 			</div>
			 <div class="dgc-card-detalhe">
				<span>Código Hexa: {{item.codigoHexa}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>{{item.urlFinal}}</span>
			</div>
			<div class="dgc-card-detalhe" *ngIf="item.checkoutProdutoProprio">
				<span>Checkout: {{item.checkoutProdutoProprio.nome}} ( {{item.checkoutProdutoProprio.preco | currency : 'BRL'}} )</span>
			</div>
			<div class="dgc-card-detalhe" *ngIf="item.estruturaPaginaVendaAberta">
				<span>Estrutura: {{item.estruturaPaginaVendaAberta.nome}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Atualiza: {{item.atualiza}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Gera Imagem: {{item.geraImagemCompleta}}</span>
			</div>
 			<div class="dgc-card-comandos">
 				<button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
 			</div>
 		</div>
  	</div>
</div>
