<div class="dgc-painel">
	<div class="dgc-painel-header">
		<span>Solicitação Checkout</span>
	</div>
	<div class="dgc-painel-principal" *ngIf="listaBase">
		<div class="dgc-card" *ngFor="let item of listaBase">
			<div class="dgc-card-header">
				<span>{{item.produtoAfiliadoHotmart.nome}} ({{item.dataHora | date : 'dd/MM/yyy HH:mm:ss' : 'UTC'}})</span>

			</div>
			<div class="dgc-card-detalhe dgc-painel-principal">
				<span>{{item.visitante}}</span>
			   	<span class="dgc-direita">{{item.hotmartId}}</span>
			</div>
		</div>
  	</div>
</div>
