<div class="dgc-painel" *ngIf="principal">
  <div class="dgc-painel-header" *ngIf="principal">
    <span>{{principal.nome}}</span>
    <span class="dgc-direita">{{principal.hotmartId}}</span>
  </div>

  <div class="dgc-card">
    <button class="btn-primary btn-sm btn"  [routerLink]="['/solicitacaoImagemPorProduto' , principal.hotmartId]">Dall-E</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/secaoWebPorProduto' , principal.hotmartId]">Seção Web</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/imagemConjuntoPorProdutoList' , principal.hotmartId]">Imagem Rede Display</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/anuncioConceitoAdsRedeDisplayPorProdutoList' , principal.hotmartId]">Anúncio Rede Display</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/campanhaAdsRedeDisplayPorProdutoList' , principal.hotmartId]">Campanha Rede Display</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/anuncioAds' , principal.hotmartId]">Anúncio Google</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/campanhaAdsTeste' , principal.hotmartId]">Campanha Teste Google</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/frameworkPublicoInteresse' , principal.hotmartId]">Framework Interesses</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/metaAdsPublico' , principal.hotmartId]">Publico Meta Ads</button>
    <button class="btn-primary btn-sm btn"  [routerLink]="['/metaAdsCampanhaAfiliadoHotmart' , principal.hotmartId]">Campanha Meta Ads</button>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-detalhe">
      <span *ngIf="principal.contaGoogle">{{principal.contaGoogle.nome}} </span>
      <span *ngIf="principal.contaRemarketing"> - {{principal.contaRemarketing.nome}}</span>
    </div>
    <div class="dgc-card-header">
      <a href="{{principal.urlFinal}}" target="_blank">{{principal.urlFinal}}</a>
    </div>
    <div class="dgc-card-detalhe">
      <a href="{{principal.urlPropria}}" target="_blank">{{principal.urlPropria}}</a>
    </div>
    <div class="dgc-card-detalhe">
      Presell: <a href="{{principal.urlPresell}}" target="_blank">{{principal.urlPresell}}</a>
    </div>
    <div class="dgc-card-detalhe">
      <span>You Tube:{{principal.urlYouTube}}</span>
    </div>
    <div class="dgc-card-detalhe">
      Página de Venda: <a href="{{principal.salesPage}}" target="_blank">{{principal.salesPage}}</a>
    </div>
    <div class="dgc-card-detalhe" >
      <span>CPA Ideal: {{principal.cpaIdeal| currency : 'BRL'}}</span><br>
      <span>CPA Máximo: {{principal.cpaMaximo| currency : 'BRL'}}</span>
    </div>
    <div class="dgc-card-detalhe">
      <span>Work: {{principal.trabalho}}</span>
    </div>
    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn dgc-direita" (click)="editaProduto(principal)">Edita Produto</button>
    </div>
  </div>


  <div class="dgc-card">
    <div class="dgc-card-header">
      Visitas
    </div>
    <div class="dgc-card-detalhe" *ngFor="let item of principal.visitaProdutoHotmarts">
      {{item.dataInsercao | date : 'dd/MM/yyyy'}}
      Temperatura: {{item.temperatura}} Comissão : {{item.afiliacaoValor | currency : 'BRL'}}
      ({{item.afiliacaoPercentual}}%)
    </div>
  </div>

  <div class="dgc-card" *ngIf="listaPalavra">
    <div class="dgc-card-header">
      Palavras-Chave
    </div>  
    <div class="dgc-card-detalhe" *ngFor="let item of  listaPalavra">
      {{item.texto}} Volume: {{item.mediaPesquisa}}
      Cpc: {{item.cpcMaximoTopPage | currency : 'BRL'}} {{item.cpcMinimoTopPage | currency : 'BRL'}}
      Data: {{item.dataAcesso | date : 'dd/MM/yyyy'}}
    </div>
    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn dgc-direita" (click)="editaPalavra()">Adiciona</button>
    </div>
  </div>

  <div class="dgc-card" *ngIf="listaConta">
    <div class="dgc-card-header">
      Contas
    </div>  
    <div class="dgc-card-detalhe" *ngFor="let item of listaConta">
      <span>{{item.contaGoogle.nome}}</span>
    </div>
    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn" (click)="alteraConta()">Alterar</button>
    </div>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      Precos
    </div>
    <div *ngFor="let item of principal.precoProdutoAfiliados">
      <div class="dgc-card-headeer">
        <span>{{item.nome}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span> {{item.parcelas}} X {{item.valorParcela | currency : 'BRL'}} = {{item.valorTotalParcelado | currency :
          'BRL' }}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>A vista: {{item.valorAVista | currency : 'BRL'}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>comissão a vista: {{ item.valorComissao | currency : 'BRL'}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>comissão parcelada: {{ item.valorComissaoParcelado | currency : 'BRL'}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>CPC Desejado: {{item.cpcDesejado | currency : 'BRL'}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>{{item.urlCheckout}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <button class="btn-primary btn-sm btn dgc-direita" (click)="editaPreco(item)">Edita Preço</button>
      </div>
    </div>


    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn" (click)="atualizaPreco()">Atualiza Preços</button>
      <button class="btn-primary btn-sm btn" (click)="editaPreco()">Novo Preço</button>
    </div>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      Hotlinks
    </div>
    <div class="dgc-card-detalhe" *ngFor="let item of principal.produtoAfiliadoHotlinks">
      <span>{{item.descricao}} - {{item.hotlink}}</span>
      <a href="{{item.hotlink}}" target="_blank">abrir</a>
    </div>
  </div>


  <div class="dgc-card">
    <div class="dgc-card-header">
      Pixel
    </div>
    <div *ngFor="let produtoConta of listaConta">
      <div *ngFor="let pixel of produtoConta.contaGoogle.pixelProdutoHotmartContas">
        <div class="dgc-card-detalhe" >
          <span>{{pixel.nome}}</span>
        </div>
      </div>
    </div>
  
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      Público Alvo
    </div>
    <div class="dgc-card-detalhe" *ngFor="let item of principal.publicoAlvoAdsDiarios">
      <span>{{item.nome}} - Pesquisa {{item.tamanhoRedePesquisa}} - Display: {{item.tamanhoRedeDisplay}} ({{item.data |
        date : 'dd/MM/yyyy'}})</span>
    </div>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      Páginas Venda - Versões
    </div>
    <div class="dgc-card-header" *ngFor="let item of principal.versaoPaginaVendas">
      <span class="dgc-link" routerLink="/versaoPaginaVendaDetalhe/{{item.id}}">
        {{item.versao}} ( modelo: {{item.modeloPaginaVenda.versao}}) - Cria: {{item.cria}}
      </span>

      <div class="dgc-direita">
        <button class="btn-primary btn-sm btn" (click)="versaoPaginaVenda(item)">Alterar</button>
      </div>
    </div>
    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn" (click)="versaoPaginaVenda()">Novo</button>
    </div>
  </div>

  <!--
  <div class="dgc-card">
    <div class="dgc-card-header">
      Solicitação Imagem
    </div>
    <div *ngFor="let item of principal.dallESolicitacaoImagems">
      <div class="dgc-card-detalhe">
        <span>{{item.prompt}}</span>
      </div>
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="dallESolicitacao(item)">Alterar</button>
      </div>
    </div>
    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn" (click)="dallESolicitacao()">Novo</button>
    </div>
  </div>
-->


  <div class="dgc-card">
    <div class="dgc-card-header">
      <span>Anúncios - Rede Pesquisa</span>
      <button class="dgc-direita" (click)="editaAnuncio(principal)">novo</button>
    </div>
    <div class="dgc-card">
      <div class="dgc-card-detalhe">
        Titulo1
      </div>
      <div class="dgc-card-detalhe">
        Titulo2
      </div>
      <div class="dgc-card-detalhe">
        Titulo3
      </div>
      <div class="dgc-card-detalhe">
        Descrição 1
      </div>
      <div class="dgc-card-detalhe">
        Descrição 2
      </div>
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="editaAnuncio(item)">Editar</button>
      </div>
    </div>
  </div>

  <div class="dgc-card">
    <div class="dgc-card-header">
      <span>Anúncios - Rede Display</span>
      <button class="dgc-direita" (click)="editaAnuncioDisplay(principal)">novo</button>
    </div>
    <div class="dgc-card">
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="editaAnuncioDisplay(item)">Editar</button>
      </div>
    </div>
  </div>


</div>