<div class="dgc-painel" *ngIf="principal">
	<div class="dgc-painel-header" *ngIf="principal">
		<span>{{principal.nome}}</span>
	</div>
	<div class="dgc-card">
		<div class="dgc-card-detalhe">
			<span>Conta: <span *ngIf="principal.contaGoogle">{{principal.contaGoogle.nome}}</span></span>
		</div>
	</div>
	<div class="dgc-card">
		<div>
			<button (click)="selectTab(6, principal.id)">Segmentos</button>
			<button (click)="selectTab(1, principal.id)">Vídeos</button>
			<button (click)="selectTab(2, principal.id)">Criativo Google</button>
			<button (click)="selectTab(4, principal.id)">Anúncio Rede Display</button>
			<button (click)="selectTab(3, principal.id)">Página Venda VSL</button>
			<button (click)="selectTab(10, principal.id)">Página Venda Aberta</button>
			<button (click)="selectTab(15, principal.id)">Checkouts</button>
			<button (click)="selectTab(5, principal.id)">Campanha Rede Display</button>
			<button (click)="selectTab(7, principal.id)">Pixel Google</button>
			<button (click)="selectTab(8, principal.id)">Entregável</button>
			<button (click)="selectTab(18, principal.id)">Conteudo Entregável</button>
			<button (click)="selectTab(9, principal.id)">Grupo Whatsapp</button>
			<button (click)="selectTab(11, principal.id)">Dall-E</button>
			<button (click)="selectTab(12, principal.id)">Dall-E Imagens</button>
			<button (click)="selectTab(13, principal.id)">Criativos</button>
			<button (click)="selectTab(14, principal.id)">Prompt para os capítulos do entregável (texto)</button>
			<button (click)="selectTab(16, principal.id)">Campanhas Meta</button>
			<button (click)="selectTab(17, principal.id)">Pixel Meta</button>
			<button (click)="selectTab(19, principal.id)">Whatsapp Padrão</button>
		  </div>
		  <div *ngIf="tabService.selectedTab">
			<div [ngSwitch]="tabService.selectedTab">
				<app-video-vsl-por-produto-list *ngSwitchCase="1" [produto]="principal"></app-video-vsl-por-produto-list>
				<app-imagem-conjunto-produto-proprio-list *ngSwitchCase="2" [produto]="principal"></app-imagem-conjunto-produto-proprio-list>
				<app-pagina-venda-vsl-por-produto-list *ngSwitchCase="3" [produto]="principal"></app-pagina-venda-vsl-por-produto-list>
				<app-anuncio-conceito-ads-rede-display-produto-proprio-list *ngSwitchCase="4" [produto]="principal"></app-anuncio-conceito-ads-rede-display-produto-proprio-list>
				<app-campanha-ads-rede-display-produto-proprio-list *ngSwitchCase="5" [produto]="principal"></app-campanha-ads-rede-display-produto-proprio-list>
				<app-publico-alvo-ads-palavra-produto-proprio-list *ngSwitchCase="6" [produto]="principal"></app-publico-alvo-ads-palavra-produto-proprio-list>
				<app-pixel-google-produto-proprio-list *ngSwitchCase="7" [produto]="principal"></app-pixel-google-produto-proprio-list>
				<app-entregavel-produto-list *ngSwitchCase="8" [produto]="principal"></app-entregavel-produto-list>
				<app-whatsapp-grupo-por-produto-list *ngSwitchCase="9" [produto]="principal"></app-whatsapp-grupo-por-produto-list>
				<app-pagina-venda-aberta-list *ngSwitchCase="10" [produto]="principal"></app-pagina-venda-aberta-list>
				<app-dalle-solicitacao-imagem-produto-proprio-list *ngSwitchCase="11" [produto]="principal"></app-dalle-solicitacao-imagem-produto-proprio-list>
				<app-dalle-solicitacao-com-imagem-por-proprio-list *ngSwitchCase="12" [produto]="principal"></app-dalle-solicitacao-com-imagem-por-proprio-list>
				<app-criativo-anuncio-list *ngSwitchCase="13" [produto]="principal"></app-criativo-anuncio-list>
				<app-prompt-item-list *ngSwitchCase="14" [produto]="principal"></app-prompt-item-list>
				<app-checkout-produto-proprio-list *ngSwitchCase="15" [produto]="principal"></app-checkout-produto-proprio-list>
				<app-meta-ads-campanha-list *ngSwitchCase="16" [produto]="principal"></app-meta-ads-campanha-list>
				<app-meta-ads-pixel-venda-list *ngSwitchCase="17" [produto]="principal"></app-meta-ads-pixel-venda-list>
				<app-conteudo-produto-kiwify-por-produto-list *ngSwitchCase="18" [produto]="principal"></app-conteudo-produto-kiwify-por-produto-list>
				<app-whatsapp-grupo-padrao-mensagem-list *ngSwitchCase="19" [produto]="principal"></app-whatsapp-grupo-padrao-mensagem-list>
			</div>
		  </div>
	</div>


</div>