<div class="dgc-painel" *ngIf="principal">
	<div class="dgc-painel-header" *ngIf="principal">
		<span>{{principal.nome}}</span>
		<span class="dgc-direita" *ngIf="resumoMes">Mês: {{resumoMes.custoTotal | currency : 'BRL'}}</span>
		<button class="btn-primary btn-sm btn" routerLink="/workProduto/{{principal.hotmartId}}">Proximo</button>
	</div>

	  <div class="dgc-card">
		<div class="dgc-card-detalhe">
		  <span>Conta: {{principal.contaGoogle.nome}}</span>

		</div>
		<div class="dgc-card-detalhe">
		  <span>Temperatura: </span>
		  <span *ngFor="let visita of principal.visitaProdutoHotmarts; let i = index">
			{{ visita.temperatura }}
			<ng-container *ngIf="i === 0">
			  (
			</ng-container>
			
			</span>  )
		</div>
		<div class="dgc-card-detalhe">
			<span>Afiliação: {{principal.visitaProdutoHotmarts[0].afiliacaoValor | currency : 'BRL'}}  ( {{principal.visitaProdutoHotmarts[0].afiliacaoPercentual}}% )</span>
		</div>
		<div class="dgc-card-detalhe">
			<span>Preço Médio Produto: {{principal.precoMedioProduto | currency : 'BRL'}}</span>
		</div>
		<div class="dgc-card-detalhe">
			<span>Lucro Médio Produto: {{principal.lucroMedioProduto | currency : 'BRL'}}</span>
		</div>
		<div class="dgc-card-detalhe">
			<span>Afiliação Real: {{principal.precoReal | currency : 'BRL'}}</span>
		</div>
		<div class="dgc-card-detalhe">
			<span>Url Própria: {{principal.urlPropria }}</span>
		</div>
		<div class="dgc-card-header">
			<span>{{principal.comentario}}</span>
		</div>
		<div class="dgc-card-comandos">
			<button class="btn-primary btn-sm btn" (click)="edita(principal)">Editar</button>
		</div> 
	  </div>
	
	  <div class="dgc-card">
		<div class="dgc-card-header">
		  <span>Campanhas</span>
		</div>
		<div class="dgc-painel-principal" *ngIf="principal">
			<div class="dgc-card {{tipoCard(item)}} dgc-card-metrica-campanha" *ngFor="let item of principal.campanhaAdsMetricas">
				 <div class="dgc-card-header">
					 <span>Custo: {{item.custoCampanha | currency: 'BRL'}}</span>
					<span class="dgc-direita" style="color: red;" *ngIf="(item.conversao>0)">{{item.conversao}}</span>
					<span class="dgc-direita" *ngIf="(item.conversao==0)">{{item.conversao}}</span>
				 </div>
				 <div class="dgc-card-detalhe">
					<span>cliques: {{item.clique}}</span>
				</div>
				<div class="dgc-card-detalhe">
					<span>impressões: {{item.impressao}}</span>
				</div>
				<div class="dgc-card-header">
					<span>Cpc: {{item.cpcMedio | currency: 'BRL'}}</span>
				</div>
				<div class="dgc-card-detalhe">
					<span>{{item.dataHora | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
				</div>
				<div class="dgc-card-detalhe">
					<span>{{item.nomeCampanha}}</span>
				</div>
				<div class="dgc-card-detalhe">
					<span>{{item.rede}}</span>
				</div>
				<div class="dgc-card-detalhe">
					<span>{{item.estrategia}}</span>
				</div>
				<div class="dgc-card-detalhe">
					<span>{{item.status}}</span>
				</div>
				
				<div class="dgc-card-detalhe">
					<span *ngIf="item.contaGoogle">Conta: {{item.contaGoogle.nome}}</span>
				</div>
				<div class="dgc-card-detalhe">
					<span>Mais recente: {{item.maisRecente}}</span>
				</div>
			 </div>
		  </div>
	  </div>
  
	<div class="dgc-card">
		<div class="dgc-card-header">
			<span>Pixels</span>
		</div>
	</div>
	
	<div class="dgc-card">
		<div class="dgc-card-header">
			<span>Anúncios</span>
		</div>
	</div>

	<div class="dgc-card">
		<div class="dgc-card-header">
			<span>Acessos</span>
		</div>
	</div>
	
	<div class="dgc-card">
		<div class="dgc-card-header">
			<span>Checkouts</span>
		</div>
	</div>

</div>



