<div class="dgc-painel" *ngIf="principal">
	<div class="dgc-painel-header" *ngIf="principal">
		<span>{{principal.nome}}</span>
		<span class="dgc-direita">gera mensagem: {{principal.geraMensagem}}</span>
	</div>

	<div class="dgc-card" *ngFor="let dia of principal.whatsappGrupoDiaAgendas">
		<div class="dgc-card-header">
			<span>Dia: {{dia.dia}}</span>
		</div>
		<div class="dgc-card-detalhe" *ngFor="let msg of dia.whatsappModeloMensagems" >
			<button class="btn btn-sm" style="background-color: white; border-color: white;" (click)="editaMensagem(dia,msg)">
				<i class="fas fa-edit text-primary"></i>
			</button>
			<span>{{msg.ordenacao}} - {{msg.texto}}</span>
		</div>
		<div class="dgc-card-comandos">
			<button class="btn-primary btn-sm btn" (click)="editaMensagem(dia)">Nova Mensagem</button>
		</div>
	</div>


	<div class="dgc-card-comandos">
		<button class="btn-primary btn-sm btn" (click)="editaDia()">Novo Dia</button>
	</div>
</div>