<h2 *ngIf="item" mat-dialog-title>Campanha Ads</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" />
    </mat-form-field>

    <mat-form-field class="example-half-width" *ngIf="listaModelo">
      <mat-select placeholder="Modelo Campanha"  #modeloCampanhaAdsTesteId [(ngModel)]="item.modeloCampanhaAdsTesteId" name="modeloCampanhaAdsTesteId">
        <mat-option *ngFor="let modelo of listaModelo" [value]="modelo.id">
          Orçamento: {{ modelo.orcamentoDiario | currency : 'BRL'}} * {{modelo.qtdeDia}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>

