<h2 *ngIf="item" mat-dialog-title>WhatsappMensagemEnviadaGrupo</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

	<mat-dialog-content>

		<mat-form-field class="example-full-width">
			<textarea rows="4" matInput #texto [(ngModel)]="item.texto" name="descricao" placeholder="Descrição">
		</textarea>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #ordenacaoDia [(ngModel)]="item.ordenacaoDia" name="ordenacaoDia"
				placeholder="Ordenação Dia" />
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput #data [(ngModel)]="item.data" name="data" placeholder="Data" />
		</mat-form-field>


	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button>Salvar</button>
		<button mat-raised-button mat-dialog-close>Fechar</button>
	</mat-dialog-actions>

</form>