<h2 *ngIf="item" mat-dialog-title>Ferramenta Ia</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

	<mat-dialog-content>

		<mat-form-field class="example-full-width">
		<input matInput #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" autocomplete="off"/>
		</mat-form-field>

		<mat-form-field class="example-full-width">
		<textarea rows="4" matInput #observacao [(ngModel)]="item.observacao" name="observacao" placeholder="Observação" autocomplete="off">
		</textarea>
		</mat-form-field>


		<mat-form-field class="example-full-width">
			<input matInput #preco [(ngModel)]="item.preco" name="preco" placeholder="Preço" autocomplete="off" />
		</mat-form-field>


		<mat-form-field class="example-full-width">
			<input matInput #url [(ngModel)]="item.url" name="url" placeholder="Url" autocomplete="off" />
		</mat-form-field>


	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button>Salvar</button>
		<button mat-raised-button mat-dialog-close>Fechar</button>
	</mat-dialog-actions>

</form>
