<div class="dgc-painel">
	<div class="dgc-painel-header">
		<span>Conta Google</span>
  		<button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
	</div>
	<div *ngIf="listaBase" class="dgc-painel-principal">
		<div class="dgc-card" *ngFor="let item of listaBase">
 			<div class="dgc-card-header">
 				<span class="dgc-link" routerLink="/contaGoogleDetalhe/{{item.id}}">{{item.nome}}</span>
 			</div>
			 <div class="dgc-card-detalhe">
				<span>Suspensa: {{item.suspensa}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>{{item.idAds}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>{{item.tipo}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>{{item.gmail}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Ativa: {{item.ativo}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Acesso: {{item.dataAcessoIntraday | date: 'dd/MM/yyyy HH:mm:ss' : 'UTC'}}</span>
			</div>
		
			<div class="dgc-card-detalhe">
				<span>Tag Remarketing: {{item.codigoTagRemarketing}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Custo Mês: {{item.contaGoogleMetricaMes[0].custoAtual | currency: 'BRL'}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Campanhas Ativas: {{item.contaGoogleMetricaMes[0].qtdeCampanhaAtiva}}</span>
			</div>
 			<div class="dgc-card-comandos">
 				<button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
 			</div>
 		</div>
  	</div>
</div>
