<div class="dgc-painel">
	<div class="dgc-painel-header" *ngIf="listaBase">
		<span>Produtos Afiliados de Trabalho ({{listaBase.length}})</span>
  		<button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="reset()">reset</button>
	</div>
	<div *ngIf="listaBase">
		<div class="dgc-card" *ngFor="let item of listaBase">	
 			<div class="dgc-card-header">
 				<span class="dgc-link" routerLink="/produtoAfiliadoHotmartDetalhe/{{item.hotmartId}}">{{item.nome}}</span>
 			</div>
			<div class="dgc-card-detalhe" *ngIf="item.visitaProdutoHotmarts.length>0">
				<span style="margin-right: 4px;">Temperatura: {{item.visitaProdutoHotmarts[0].temperatura}}</span>
				<span>({{item.visitaProdutoHotmarts[0].dataInsercao | date: 'dd-MM-yyy'}})</span>
			</div>
			<div class="dgc-card-detalhe" *ngIf="item.visitaProdutoHotmarts.length>0">
				<span>Afiliação: {{item.visitaProdutoHotmarts[0].afiliacaoValor}} ( {{item.visitaProdutoHotmarts[0].afiliacaoPercentual}}% )</span>
			</div>
			<div class="dgc-card-detalhe">
				<span *ngIf="item.contaGoogle">Conta: {{item.contaGoogle.nome}} ({{item.contaGoogle.idAds}})</span>
				<span *ngIf="!item.contaGoogle">Conta: - </span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Cria Pixel: {{item.criaPixelVenda}}</span>
			</div>
			<div class="dgc-card-detalhe">
				<span *ngIf="item.pixelGoogle">Pixel: {{item.pixelGoogle.nome}} ()</span>
				<span *ngIf="!item.pixelGoogle">Pixel: - </span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Url Própria: {{item.urlPropria}} ({{item.complementoAnuncio}})</span>
			</div>
			<div class="dgc-card-detalhe">
				<span>Rejeição Url Original: {{item.rejeicaoUrlOriginal}}</span>
			</div>
			<div class="dgc-card-header">
				<span>{{item.comentario}}</span>
			</div>
			<div class="dgc-card-comandos">
				<button class="btn-primary btn-sm btn"  [routerLink]="['/paginaVendaPorProduto' , item.hotmartId]">Pagina Venda</button>
				<button class="btn-primary btn-sm btn"  [routerLink]="['/secaoWebPorProduto' , item.hotmartId]">Seção Web</button>
				<button class="btn-primary btn-sm btn"  [routerLink]="['/anuncioAds' , item.hotmartId]">Anúncio Google ({{item.anuncioAdsCount}})</button>
				<button class="btn-primary btn-sm btn"  [routerLink]="['/campanhaAdsTeste' , item.hotmartId]">Campanha Teste Google ({{item.campanhaAdsTestesCount}})</button>
	 			<button *ngIf="item.pixelGoogle" class="btn-primary btn-sm btn" (click)="desligaPixel(item)">Desliga Pixel</button>
				<button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
			</div>
 		</div>
  	</div>
</div>
