<div class="dgc-painel">
  <div class="dgc-painel-header">
    <span>Modelos Campanha Teste</span>
    <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
    <div class="dgc-card" *ngFor="let item of listaBase">
      <div clas="dgc-card-detalhe">
        <span>Orçamento Diário: {{item.orcamentoDiario | currency : 'BRL'}}</span>
      </div>
      <div clas="dgc-card-detalhe">
        <span>Quantidade Dias: {{item.qtdeDia}}</span>
      </div>
      <div clas="dgc-card-detalhe">
        <span>Dia Inicial: {{getDiaSemana(item)}} ({{item.diaInicial}})</span>
      </div>
      <div clas="dgc-card-detalhe">
        <span>Orçamento Total: {{item.orcamentoDiario * item.qtdeDia | currency : 'BRL' }}</span>
      </div>
      <div clas="dgc-card-detalhe">
        <span>Tipo Custo: {{item.tipoCpcCusto }}</span>
      </div>
      <div clas="dgc-card-detalhe">
        <span>Multiplicador Custo: {{item.multiplicadorCpcCusto | number : '1.2-2' }}</span>
      </div>
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
      </div>
    </div>
  </div>
</div>