<h2 *ngIf="item" mat-dialog-title>EvolucaoExperimento</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

	<mat-dialog-content>

		<mat-form-field class="example-full-width">
			<input matInput #acao [(ngModel)]="item.acao" name="acao" placeholder="Ação" />
		</mat-form-field>


		<mat-form-field class="example-full-width">
			<input matInput #resultado [(ngModel)]="item.resultado" name="resultado" placeholder="Resultado" />
		</mat-form-field>


		<mat-form-field class="example-full-width">
			<input matInput #dataImplementacao [(ngModel)]="item.dataImplementacao" name="dataImplementacao" placeholder="Data Implementação (yyyy-mm-dd)" />
		</mat-form-field>


		<mat-form-field class="example-full-width">
			<input matInput #dataFinalizacao [(ngModel)]="item.dataFinalizacao" name="dataFinalizacao" placeholder="Data Finalização (yyyy-mm-dd)" />
		</mat-form-field>


	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button>Salvar</button>
		<button mat-raised-button mat-dialog-close>Fechar</button>
	</mat-dialog-actions>

</form>