<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Plataformas</span>
  </div>
  <div class="dgc-painel-principal" *ngIf="listaBase">
      <div class="dgc-card" *ngFor="let item of listaBase">
          <div class="dgc-card-header">
            <span>{{item.nome}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <div>Temperatura: {{item.temperatura}}</div>
            <div>Formato: {{item.formato}}</div>
            <div>Categoria: {{item.categoria}}</div>
          </div>
          <div class="dgc-card-detalhe">
            <div>Comissão: {{item.afiliacaoValor}}</div>
            <div>Percentual: {{item.afiliacaoPercentual}}</div>
          </div>
          <div class="dgc-card-detalhe">
            <div>Autor: {{item.produtorNome}}</div>
          </div>
      </div>
  </div>
</div>
